.form {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(79deg,#7439db,#C66FBC 48%,#f7944d);
  }

  
  
  .auth-form-container,.login-form,.register-form{
    display: flex;
    flex-direction: column;
  }


  @media screen and (min-height: 600px){
    .auth-form-container{
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }
  
  
  label{
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input{
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  
  button{
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
  }
  
  .link-btn{
    background: none;
    color: white;
    text-decoration: underline;
  }

  
@media (max-width :1058px) {
  .header{
      padding: 16px 60px;
  }

  section{
    padding: 50px 60px;
  }

  .home-text h1{
      font-size: 2.4rem;
  }
  
}  

@media (max-width :991px) {
  .header{
      padding: 16px 4%;
  }

  section{
    padding: 50px 4%;
  }

  .home-text h1{
      font-size: 2rem;
  }
  
}

@media (max-width :768px){
    .header{
      padding: 12px 4%;
    }

    #menu-icon{
      display: inline;
    }

    .navbar{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      background-color: #edeae3;
      row-gap: 1.4rem;
      padding: 20px;
      transition: 0.3s;
      text-align: center;
    }
}
  
  