.customers{
    /* height: 550px; */
    padding: 50px 100px;
}

.heading{
    text-align: center;
}

.heading h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}

.customers-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top:2rem ;
}

.customers-container .box{
    padding: 20px;
    box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    text-align: center;
}

.stars .bx{
    color: #bc9667;
}

.customers-container .box p{
    font-size: 0.938rem;
}

.customers-container .box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}

.customers-container .box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.customers-container .box:hover{
    background-color: #edeae3;
    transition: 0.2s all linear;
}