#main{
    margin-top: 85px;
    padding: 2rem 1.5rem 0 22rem;
    background: #f1f5f9;
    min-width: calc(100vh - 90px);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}